{%  extends 'website/base.html' %}

{% block main %}
    <section>
        <h3>Formulário de Comentário</h3>
        <form method="POST" action="">
            {% csrf_token %}
   	        {{ form.as_p }}
            <br>
            <a href="{% url 'website:comentarios' %}" role="button" class="btn btn-warning float-right">Limpar</a>
            <input type="submit" value="Enviar" class="btn btn-success float-right" >
        </form>
    </section>

    <br><br><br>

    <article>

    </article>
{% endblock %}