{%  extends 'website/base.html' %}

{% block main %}
    <h2> Videos </h2>
    <br>
    <article class="flex">
        <div>
            <iframe src="https://www.youtube.com/embed/nBOtdor6Gtg" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <legend>Técnica de Palheta</legend>
        </div>
        <div>

            <iframe src="https://www.youtube.com/embed/KY2Xw4EXpxs" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <legend>Técnica de Dedilhar</legend>
        </div>

        <div>
            <iframe src="https://www.youtube.com/embed/-bs2RsJj3gI" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <legend>Identificar as notas no braço</legend>
        </div>

        <div>
            <iframe src="https://www.youtube.com/embed/KHNzzXM2hPQ" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <legend>Identificar as notas no braço Continuação</legend>
        </div>

        <div>
            <iframe src="https://www.youtube.com/embed/vjjACscV5Pg" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <legend>Video Como ler Pauta e Tabatura</legend>
        </div>

        <div>
            <iframe src="https://www.youtube.com/embed/TBl0ldVF6oI" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <legend>Video sobre Acordes</legend>
        </div>
        <div>
            <iframe src="https://www.youtube.com/embed/Aqz8d3-S8d8" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <legend>Video sobre figuras rítmicas</legend>
        </div>

    </article>
{% endblock %}