{%  extends 'website/base.html' %}

{% block main %}
    {% load static %}
    <br>
        <h2> As bases de toda a aprendizagem de viola ou guitarra </h2>
        <br>
        <article class="container">
            <br>
            <h3> Aprendendo as componentes da Viola: </h3>
            <br>
            <p>É muito importante você saber o nome das partes principais do seu instrumento antes de aprender qualquer outra coisa. Vou te mostrar as 3 partes mais importantes por agora</p>
            <img src="{% static 'website/images/partes-do-violao.jpg' %}" alt="Componentes da viola" border="1">
            <br>
            <p>As tarraxas: São usadas para afrouxar ou apertar as cordas, a fim de mudar o tom de cada uma delas. Basicamente elas servem para afinar a viola.</p>

            <p>O braço: É a parte mais longa do viola. É nela que vamos encontrar os trastes, que são divisões metálicas que separam todo o braço do violão em diferentes casas.</p>

            <p>O corpo: É onde se encontra uma abertura que é muito importante para projetar o som do violão, porque ele balanceia os graves e os agudos do instrumento.</p>
            <br>
        </article>

        <article class="container">
            <br>
            <h3> Segurando a viola: </h3>
            <br>
            <p>Para segurar a viola corretamente, sente-se reto na cadeira e coloque o corpo da viola sobre sua perna direita. O corpo da viola tem que estar encaixado em sua perna.</p>

            <p>Agora repouse seu braço direito em cima da maior dobra do corpo da viola, de um modo que seu antebraço possa se movimentar com facilidade.Veja a demonstração abaixo.</p>

            <img src="{% static 'website/images/como-segurar-o-violao.jpg' %}" alt="Como segurar a viola" border="1">

            <p>A viola tem que ficar reto, e não deitado. Esse é um erro comum que a maioria dos iniciantes cometem.</p>
            <br>
        </article>

        <article class="container">
            <br>
            <h3> Posição da sua mão esquerda: </h3>
            <br>
            <p>Para ficar mais simples, faça um “C” com sua mão esquerda e encaixe-a no braço da viola. O polegar vai ficar atrás do braço, o mais em pé possível, mantendo o resto dos dedos o mais curvado possível no braço da viola. Veja a imagem abaixo
                para você entender.</p>

            <img src="{% static 'website/images/mao-esquerda-violao.jpg' %}" alt="Mao esquerda" border="1">
            <br>
        </article>
{% endblock %}