{%  extends 'website/base.html' %}

{% block main %}
        <h2> Videos </h2>
        <br>
        <article class="flex">
            <div>
                <iframe src="https://www.youtube.com/embed/yCk8oHcDCMY" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <legend>Diferenças entre Guitarra Acustica e Electrica</legend>
            </div>

            <div>
                <iframe src="https://www.youtube.com/embed/a5jj1oYYeGQ" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <legend>Acessorios para Guitarra Electrica</legend>
            </div>

            <div>
                <iframe src="https://www.youtube.com/embed/JmWzigitqwQ" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <legend>Acessorios para Guitarra Acustica</legend>
            </div>

            <div>
                <iframe src="https://www.youtube.com/embed/r76YA_vb5Zg" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <legend>Video sobre as Cordas da Guitarra</legend>
            </div>

            <div>
                <iframe src="https://www.youtube.com/embed/VDRyf6YQsFg" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <legend>Video Afinar com afinador</legend>
            </div>

            <div>
                <iframe src="https://www.youtube.com/embed/SyTdBXUYZYc" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <legend>Video Afinar por relação de cordas</legend>
            </div>

        </article>
{% endblock %}